body {
    background-color: #e1e1e1; /* 背景を灰色に設定 */
  }
  
  .card {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .card-body{
    padding: 30px;
  }

  .title.content{
    animation: none;
  }
  
  .title{
    border: none; /* 入力フォームのボーダーを無くす */
    box-shadow: none; /* フォーム選択時のボーダーを消す */
    font-size: 1.73rem;
    width: 100%;
    outline: none;
  }
  
  .content {
    border: none;
    outline: none;
    box-shadow: none;
    resize: none;
    font-size: 1rem;
    color:#646464;
    width: 100%;
  }
  
  .btn-success {
    background-color: #4CAF50; /* ボタンの色を変更 */
    border: none; /* rgb(143, 152, 143)を無くす */
  }
  
  .float-right {
    float: right; /* 送信ボタンを右寄せにする */
    margin-top: 10px;
  }
  