//- views/create.pug
extends layout

block content
  h1 Create New Memo
  form(method="POST", action="/create")
    .form-group
      label(for="title") Title
      input.form-control(type="text", id="title", name="title", required=true)
    .form-group
      label(for="content") Content
      textarea.form-control(id="content", name="content", required=true, rows="4", maxlength="140")
    button.btn.btn-primary(type="submit") Submit
