extends layout

block content
  a.btn.btn-secondary(href='/search') Back to Search
  .container
    .row
      .col-md-6
        .card.mt-3
          .card-body
            h1.card-title Create a New Memo
            form(method="POST", action="/memos")
              .form-group
                label(for="title") Title:
                input.form-control(type="text", id="title", name="title", required=true)

              .form-group
                label(for="content") Content:
                textarea.form-control(id="content", name="content", required=true, rows="4") 

              button.btn.btn-primary(type="submit") Submit

  .container
    .row
      .col-md-12
        .card.mt-3
          .card-body
            h1.card-title Saved Memos
            .d-flex.flex-wrap 
              each memo in memos
                .card.mb-3.mx-2 
                  .card-body
                    h5.card-title= memo.title
                    p.card-text= memo.content
                    // 削除ボタン
                    form(method="POST", action="/memos/delete/" + memo._id.toString())
                      input(type="hidden", name="_method", value="DELETE")
                      button.btn.btn-danger(type="submit") Delete

                    // 更新ボタン
            if !memos.length 
              p.card-text No memos found