extends layout

block content
  .container
    .row
      .col-md-12
        .card.mt-3
          .card-body
            h1.card-title Search Results
            a.btn.btn-secondary(href='/search') Back to Search
            // メモ入力に戻るボタン
            a.btn.btn-primary(href='/memos') Back to Memo Input
            if memos.length
              .d-flex.flex-wrap
                each memo in memos
                  .card.mb-3.mx-2(style='width: 18rem;')
                    .card-body
                      h5.card-title= memo.title
                      p.card-text= memo.content
                      // ここに削除ボタンや更新ボタンを追加することも可能ですが、
                      // 検索結果のページでこれらの操作を提供するかは、アプリケーションの設計によります
            else
              p No memos found.
